video{
	/*width: 100%*/;
	height: 50%;
	/*border:red solid;*/
	postion: relative;
}

#video{
	height: 50%;


}

.field{
	 margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.container{
	/*border: 5px solid red*/;
}

tr td{
	padding-bottom: 5px;
}