<h1>Welcome to the site</h1>


<div class="row">
<video class = "col-xs-12" autoplay loop src="video/Video_Camera_7.mp4"> </video>

<%= link_to 'Post a Job', new_job_path %>
<%= link_to 'Search Jobs', jobs_path %>
</div>
